body {
    margin: 0;
    background-color: black;
}

#pre-status {
    /* Position */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* No select */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    /* No overflow */
    white-space: nowrap;
    overflow: hidden;

    /* Font */
    font-size: 25px;
    font-family: "FoundryGridnik", serif;
    color: white;
}

#canvas-container {
    display: block;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
}